@font-face {
    font-family: BenderBold;
    src: url(/fonts/BenderBold/BenderBold.eot);
    src: url(/fonts/BenderBold/BenderBold.ttf);
    src: url(/fonts/BenderBold/BenderBold.woff);
}

@font-face {
    font-family: BenderBlack;
    src: url(/fonts/BenderBlack/BenderBlack.eot);
    src: url(/fonts/BenderBlack/BenderBlack.ttf);
    src: url(/fonts/BenderBlack/BenderBlack.woff);
}

@font-face {
    font-family: BenderLight;
    src: url(/fonts/BenderLight/BenderLight.eot);
    src: url(/fonts/BenderLight/BenderLight.ttf);
    src: url(/fonts/BenderLight/BenderLight.woff);
}

@font-face {
    font-family: BenderRegular;
    src: url(/fonts/BenderRegular/BenderRegular.eot);
    src: url(/fonts/BenderRegular/BenderRegular.ttf);
    src: url(/fonts/BenderRegular/BenderRegular.woff);
}

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: black;
}

#root {
    font-family: BenderBlack, Geneva, Arial, Helvetica, sans-serif;
	display:flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: black;

    color: #b68540;
}